In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import r2_score
from sklearn.datasets import load_boston

In [4]:
#Carregar o data set
boston = load_boston()
dataset = pd.DataFrame(boston.data, columns= boston.feature_names)
dataset['target'] =boston.target

In [5]:
# Formato do dataset
print("Boston tem {} observações com {} variaveis cada uma.".format(*dataset.shape))

Boston tem 506 observações com 14 variaveis cada uma.

In [6]:
# Apresentar as primeiras linhas 
dataset.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [7]:
# Seleção das variaveis explicativas para o modelo
x = dataset[['LSTAT','RM','DIS','PTRATIO']]
# Variavel a ser predita 
y = dataset['target'].values

In [8]:
# Verificar os valores de x 
x

     LSTAT     RM     DIS  PTRATIO
0     4.98  6.575  4.0900     15.3
1     9.14  6.421  4.9671     17.8
2     4.03  7.185  4.9671     17.8
3     2.94  6.998  6.0622     18.7
4     5.33  7.147  6.0622     18.7
..     ...    ...     ...      ...
501   9.67  6.593  2.4786     21.0
502   9.08  6.120  2.2875     21.0
503   5.64  6.976  2.1675     21.0
504   6.48  6.794  2.3889     21.0
505   7.88  6.030  2.5050     21.0

[506 rows x 4 columns]

In [9]:
# Dividir os dados de teste e treino
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=7)

In [24]:
# Treino do modelo 
model = LinearRegression(normalize=False, fit_intercept = True)

In [25]:
# Treinar modelo 
modelV1 = model.fit(x_train, y_train)

In [26]:
# Realizar as previsões 
previson = modelV1.predict(x_test)
previson

array([21.77824325, 19.21648457, 19.62074535, 20.46330314, 15.5873    ,
       12.85678689, 21.23214007, 27.64136662, 28.10869023, 17.03915481,
        4.24784845, 32.14300288, 19.18231115, 18.91410186, 35.54478438,
       21.20721276, 27.49006143, 32.21945868,  9.77532087, 23.9570629 ,
       19.28090949, 28.60887795, 37.550173  , 13.16374183, 10.39286023,
       17.07054496, 32.56130813, 27.05680032, 24.73756419, 26.04314104,
       20.5810515 , 31.10804888, 31.59642971, 19.75270493, 39.93559967,
       20.07757203, 18.86058664, 21.39502305, 21.59976255, 27.20987699,
       26.4342392 , 18.01924157, 13.76649001, 26.19475446, 19.18876334,
       15.81772581, 25.49334142, 20.60012438, 25.05340763,  8.63146586,
       28.34712221, 25.37452518, 20.64846448, 39.35242924, 19.65269295,
       21.25734371, 20.16320791, 20.60101956, 23.71665732, 19.68509147,
       20.08986204, 34.94728679, 16.66413054, 20.69334457, 25.06334321,
       40.47766645, 21.16716075, 22.00481241, 22.59663425, 29.34929709,
       24.81009755, 13.96928635, 15.4195423 , 33.68618849, 28.00762476,
       20.84451274, 11.29003491, 15.90385283, 29.91412668, 18.65679379,
       25.18330632, 28.18984741, 21.97286923, 22.10688618, 27.69780106,
       27.0655465 , 25.66943022, 18.10393702, 32.40252   , 22.12392289,
       20.34973385, 36.2550544 , 38.21433044, 23.38735252, 25.42968485,
        9.86473082, 27.45134053, 11.69340924, 10.64924831, 27.89748884,
       20.71264479, 16.0349511 ])

In [27]:
# Verificar a acertividade
r2_score(y_test,previson)

0.5381691929033983

In [34]:
# 
lstat = 5
rm  = 8
dis = 6
pratio = 19

In [35]:
prev = [lstat, rm, dis, pratio]

prev = np.array(prev).reshape(1,-1)

In [37]:
print('Preço da casa em milhares:', modelV1.predict(prev)*1000)

Preço da casa em milhares: [34609.18290763]